@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
body{
    background-color: hsl(218, 23%, 16%);
    color: #fff;
    font-family: "Manrope", sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card{
    width: 320px;
    position: relative;
    background-color: hsl(217, 19%, 24%);
    padding: 20px;
    border-radius: 10px;
    
}


#ad-id{
    text-align: center;
    text-transform: uppercase;
    color: hsl(150, 100%, 66%);
    letter-spacing: 3px;
    margin-bottom: 20px;
    margin-top: 0;

}

#pattern{
    width: 100%;
    margin-bottom: 20px;
}

#dice{
    position: absolute;
    bottom: -20px;;
    background-color: hsl(150, 100%, 66%);
    padding: 10px;
    border-radius: 50%;
    left: 160px;
}

#dice:hover{
    box-shadow: 0 0 20px 2px hsl(150, 100%, 66%);
    cursor: pointer;
}

#ad-body{
    margin-top: 10px;
    margin-bottom: 30px ;
    font-size: 20px;
    text-align: center;
    border: 1px solid hsl(150, 100%, 66%);
}

@media (max-width: 330px) {
    #dice{
        left: 130px;
    }
}